<!DOCTYPE html>
<html>
<head>
	<title>Hacktiv8 Library</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>">
</head>
<body>
	<div class="header">
		<h2>Hacktiv8 Library</h2>
	</div>
	
	<div class="nav">
		<p>Jadwal Buka : Senin - Kamis (08.00 - 16.00) & Jum'at - Sabtu (08.00 - 13.00)</p>
	</div>
	
	<div class="samping">
		<ul>
			<br><br><br>
			<a href="/">HOME</a>
			<br><br><br>
			<a href="/members">KEMBALI</a>
		</ul>
	</div>
	
	<div class="isi">
		<center>
		<h3>Tambah Anggota</h3>
			<form action="/members/edit/<%= dataMember.id %>" method="POST">
				<table>

					<tr>
					<td>NAMA</td>
						<td>:</td>
						<td><input type="text" name="name" value="<%= dataMember.name %>"></td>
					</tr>
						
					<tr>
						<td>ALAMAT</td>
						<td>:</td>
						<td><input type="text" name="address" value="<%= dataMember.address %>"></td>
					</tr>
						
					<tr>
						<td>NO. KONTAK</td>
						<td>:</td>
						<td><input type="text" name="phone_number" value="<%= dataMember.phone_number %>"></td>
					</tr>
						
					<tr>
						<td></td><td></td>
						<td><input type="submit" name="tambah" value="TAMBAH"></td>
					</tr>
						
				</table>
			</form>
		</center>
	</div>
	
	<div class="footer">
		<h4>&trade; Hacktiv8 KG-01-Agile Fox </h4>
	</div>	
</body>
</html>