<!DOCTYPE html>
<html>
<head>
	<title>Hacktiv8 Library</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="header">
		<h2>Hacktiv8 Library</h2>
	</div>
	
	<div class="nav">
		<p>Jadwal Buka : Senin - Kamis (08.00 - 16.00) & Jum'at - Sabtu (08.00 - 13.00)</p>
	</div>
	
	<div class="samping">
		<ul>
			<br><br><br>
			<a href="../admin.html">HOME</a>
			<br><br><br>
			<a href="buku-entry.html">TAMBAH</a>
		</ul>
	</div>
	
	<div class="isi">
		<center>
			<h3>Daftar Buku</h3>
			<table border="1">
				<tr>
					<th width="5%">ID</th>
					<th>JUDUL</th>
					<th>PENULIS</th>
					<th>TAHUN</th>
					<th>PENERBIT</th>
					<th width="10%" colspan="2">Action</th>
				</tr>
				
				<!-- Awal pemasukan data-->
				<tr>
					<td><Center>1</center></td> <!-- data ID BUKU -->
					<td></td> <!-- data JUDUL -->
					<td></td> <!-- data PENULIS -->
					<td></td> <!-- data TAHUN -->
					<td></td> <!-- data PENERBIT -->
					<td>Edit</td>
					<td>Delete</td>
				</tr>
				<!-- Akhir pemasukan data-->
				
			</table>
		</center>
	</div>
	
	<div class="footer">
		<h4>&trade; Hacktiv8 KG-01-Agile Fox </h4>
	</div>
</body>
</html>