<!DOCTYPE html>
<html>
<head>
	<title>Hacktiv8 Library</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="header">
		<h2>Hacktiv8 Library</h2>
	</div>
	
	<div class="nav">
		<p>Jadwal Buka : Senin - Kamis (08.00 - 16.00) & Jum'at - Sabtu (08.00 - 13.00)</p>
	</div>
	
	<div class="samping">
		<ul>
			<br><br><br>
			<a href="admin.html">HOME</a>
			<br><br><br>
			<a href="anggota/anggota.html">ANGGOTA</a>
			<br><br><br>
			<a href="buku/buku.html">BUKU</a>
			<br><br><br>
			<a href="transaksi/transaksi.html">TRANSAKSI</a>
			<br><br><br>
			<a href="logout.html">LOGOUT</a>
		</ul>
	</div>
	
	<div class="isi">
		<center>
			<h2>Selamat Datang di Halaman Admin</h2>
		</center>
	</div>
	
	<div class="footer">
		<h4>&trade; Hacktiv8 KG-01-Agile Fox </h4>
	</div>
</body>
</html>