<!DOCTYPE html>
<html>
<head>
	<title>Hacktiv8 Library</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>">
</head>
<body>
	<div class="header">
		<h2>Hacktiv8 Library</h2>
	</div>
	
	<div class="nav">
		<p>Jadwal Buka : Senin - Kamis (08.00 - 16.00) & Jum'at - Sabtu (08.00 - 13.00)</p>
	</div>
	
	<div class="samping">
		<ul>
			<br><br><br>
			<a href="../admin.html">HOME</a>
			<br><br><br>
			<a href="transaksi-entry.html">TAMBAH</a>
		</ul>
	</div>
	
	<div class="isi">
		<center>
			<center>
				<h3>DAFTAR PEMINJAMAN & PENGEMBALIAN</h3>
				<table border="1">
					<tr>
						<th width="5%">NO</th>
						<th>PEMINJAM</th>
						<th>BUKU</th>
						<th>TANGGAL PINJAM</th>
						<th>TANGGAL KEMBALI</th>
						<th>STATUS</th>
						<th width="10%" colspan="2">Action</th>
					</tr>
					
					<!-- Awal pemasukan data -->
					<tr>
						<td><center>1</center></td>
						<td></td> <!--data nama peminjam-->
						<td></td> <!--data nama Buku-->
						<td></td> <!--data tanggal pinjam-->
						<td></td> <!--data tanggal kembali-->
						<td></td> <!--status (meminjam/sudah mengembalikan)-->
						<td>Edit</td>
						<td>Delete</td>
					</tr>
					<!-- Akhir pemasukan data -->
					
				</table>
			</center>
		</center>
	</div>	

	<div class="footer">
		<h4>&trade; Hacktiv8 KG-01-Agile Fox </h4>
	</div>	
</body>
</html>